src/config.py
*.pyc
src/dataGather/config.py
src/dataGather/results.txt
*.tcl
src/django_environment/*
src/.ipynb_checkpoints/NotificationsTester-checkpoint.ipynb
disneyWaitsApp/config.py
src/dataGather/SourcingData.ipynb
src/dataGather/.ipynb_checkpoints/SourcingData-checkpoint.ipynb
