{% extends 'base.html' %}
{% load tags %}
{% block content %}
{% block javascript %}
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  function update_favorites(rideid){
    $.get('make_favorite/', function(data){});

  }
</script>
{% endblock javascript %}

<h1>{{ride.name}}
  {% if current_user %}
  {% if doesnt_follow %}
  &emsp;&emsp;
  {% csrf_token %}
  <button type = "button" class = "btn btn-primary" onclick = "update_favorites({{ride.id}});">
    Follow Ride
  </button>
  {% endif %}
  {% endif %}
</h1>

<p>
{{ride.description | safe}}
</p>
<hr><strong>Status: </strong>
  {% if ride.current_status == "Operating" %}
  <span style = "color:green;font-weight:bold">{{ride.current_status}}</span>   &emsp;&emsp;&emsp;  <strong>Fastpass: </strong>{{ride.current_fastpass}}
  {% else %}
  <span style = "color:red;font-weight:bold">{{ride.current_status}}</span>   &emsp;&emsp;&emsp;  <strong>Fastpass: </strong>{{ride.current_fastpass}}
  {% endif %}

{% recommend_ride ride as recommendation %}
{% if recommendation %}
<p style = "margin-top: 10px">
  <strong>Recommendation: </strong>
  {% if recommendation == "avoid" %}
  <span><strong style = "color:red">Avoid this ride for now.</strong>  It is experiencing unusually high wait times.
      {% if ride.get_best_times_to_go.nexthour %}
      Come back at {{ride.get_best_times_to_go.nexthour}} for a shorter wait.
        {% if ride.get_best_times_to_go.nexthour != ride.get_best_times_to_go.remainingday %}
        You can also wait to come back at {{ride.get_best_times_to_go.remainingday}} for the lowest wait the rest of today.
        {% endif %}
      {% else %}
        Come back at {{ride.get_best_times_to_go.remainingday}} for the lowest wait the rest of the day.
      {% endif %}
   </span>
  {% endif %}
  {% if recommendation == "normal" %}
  <span>The wait right now is within the anticipated range. It's your call. </span>
  {% endif %}
  {%if recommendation == "normallow" %}
  <span>The wait is a little lower than expected. It's a good time to go.</span>
  {% endif %}
  {% if recommendation == "normalhigh" %}
  <span>The wait is a little high than expected. Maybe wait a little while.</span>
  {% endif %}
  {% if recommendation == "recommended" %}
  <span><strong style = "color:green">GO NOW!</strong> It is experiencing unusually low waits.
     {% if ride.get_best_times_to_go.remainingdaylow > ride.current_wait %}
     This is lower than the lowest anticipated wait for the rest of the day.
     {% else %}
     If you plan on riding this ride today, this isn't a bad time. Or come back for the lowest anticipated wait time today at {{ride.get_best_times_to_go.remainingday}}
     {% endif %}
     </span>
  {%endif %}
</p>
{% endif %}
</hr>
{% if ride.todays_waits %}
<div id = "ride_wait_info" style = "margin-left:0px;margin-top:20px;float:left">
  <div id = "chart_container"></div>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script>
    Highcharts.chart('chart_container', {{chart|safe}});
  </script>
<hr><h3><strong>Latest Wait Times</strong></h3></hr>
<table class = "table">
  <thead class = "thead-dark">
    <tr>
      <th>Time</th>
      <th>Wait (Minutes)</th>
      <th>Anticipated Wait</th>
    </tr>
  </thead>
  <tbody>
    {%for wait in ride.todays_waits.reverse|slice:":10" %}
      <tr>
        <td>{% fix_time wait.time %}</td>
        <td>{{wait.wait}}</td>
        <td>{% return_anticipated_wait ride wait.time %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
<div id = "general_ride_info" class = "container" style = "float:right; margin-top:20px">
  <h5><em>Opening Date: {{ride.openingdate}}</em></h5>
  <p>
    {% if ride.tier == "diversion" %}
    Ride Tier: Diversion
    {% endif %}
    {% if ride.tier == "major_attraction" %}
    Ride Tier : Major Attraction
    {% endif %}
    {% if ride.tier == "minor_attraction" %}
    Ride Tier: Minor Attraction
    {% endif %}
    {% if ride.tier == "headliner" %}
    Ride Tier: Headliner
    {% endif %}
    {% if ride.tier == "super_headliner" %}
    Ride Tier: Super Headliner
    {% endif %}
  </p>
  <p>Location: {{ride.location}} in {{ride.parkid.name}}</p>
  <p>Intellectual Property: {{ride.intellectualprop}}</p>
  {% return_map_url ride.return_location_string ride.name 1 as ride_url %}
  <img src = {{ride_url.url}}>
</div>



{% endblock %}
