{% extends 'full_base.html' %}
{% load tags %}
{% block main_content %}

<br>
<h2>Terms of Use </h2>
<h4>Acceptance of the Terms of Use</h4>
<p>
  These terms of use are entered into by and between you and this website liloinline.com ("Us","Lilo in Line", "this website"). The following terms and
  conditions, govern your access to and use of liloinline.com as a guest or registered user.
  <br>
  Please reads the Terms of Use before you start using this website. By clicking "Register" or anything of the like, you have agreed to be bound and abide
  by these Terms of Use and the Privacy Policy below. If you choose to not agree to these terms, don't use this website.
  <br>
  By using this website, you agree that you are of legal age to form a contract with liloinline.com.
</p>
<br>
<h4>Intellectual Property Rights</h4>
<p>
  This website and its features and functionality are owned by us and are protected by United States and internationaly copyright, trademark,
  and trade secret laws.

  Do not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit
  any of the materials found on this website except the usual cached things that occur when visiting a website.
</p>
<br>
<h4>Prohibited Uses</h4>
<p>
  By using this site you agree that you are not going to overburden the server running this website. You will not use any robots or scrapers
  to automatically capture information from the website. You will not introduce any viruses, or logic bombs to technologically harm this website. You will
  not attempt a dos or ddos attack on this website, or otherwise attempt to interfere with the proper working of the website.
</p>
<br>
<h4>Reliability of the presented information</h4>
<p>
  Predicted wait times are just that, predicted. They are not factual information but are the best guess using Aritificial intelligence to attempt to plan
  ahead. Predictions can be wrong, further wait times that are presented may be slightly off or out of date. Any plans or reliance you place on such figures
  be it predictions or actual wait times is done at your own risk. How you plan to use the information presented in the blog section of this website is also
  done at your own risk.
</p>
<br>
<br>
<h2>Privacy Policy</h2>
<h4>Gathering and Storing Your Information</h4>
<p>
  The only information we gather is attached to your login. If you register with us with your email, a user name, and a password, we retain that Information
  in a secure database and will not share it with anyone. Further if you supply additional information to use the notification features of this site, we will
  again retain that information but will not share it with anyone.
</p>
<p>
  We do not delete this information on a time gated basis, it is retained to potentially count users, and compare how the website is performing. If any
  graphics or charts are displayed that show a number of users, no personal information will be displayed, just summary information.
</p>
<p>
  Moral of the story, we only take information that we believe we would need to help you in planning your vacation or help you while on your vacation. If
  we ask for something additional, it's because we believe we can use it to help your vacation. We don't intend on taking any additional information that is
  not important to the use of this website.
</p>
{% endblock %}
