{% extends 'full_base.html' %}
{% block main_content %}
{% load tags %}
<br>
<h1>{{full_name}}'s home page!</h1>
<br>
<br>
{% if rides %}
<h2>Followed Rides</h2>
{% for ride in rides %}
  <hr>
  <strong><a href = "{% url 'ride_detail' ride.id %}">{{ride.name}}</a></strong>
  {% check_notifications ride.id current_user_id as notifications_list %}
  {% if notifications_list %}
  <div style = "width:20%; float: right; margin-top:10px">
    <a href= "{% url 'remove_notifications' ride.id %}"><button type = "button" class = "btn btn-primary">
      Remove Notification
    </button></a>
  </div>
  {% else %}
  <div style = "width:20%; float: right; margin-top:10px">
    <a href= "{% url 'add_notifications' ride.id %}"><button type = "button" class = "btn btn-primary">
      Add notifications
    </button></a>
  </div>
  {% endif %}
  <p>{{ride.location}}</p>
  <p>Current Wait Time:
    {% if ride.current_status == "Operating" %}
    <strong>{{ride.current_wait}}</strong>
    {% else %}
    <strong style = "color:red">{{ride.current_status}}</strong>
    {% endif %}
  </p>
  {% recommend_ride ride as recommendation %}
  {% if recommendation %}
  <p>Recommendation:

    {% if recommendation == "avoid" %}
    <span style = "color:red"><strong>Longer Than Predicted, AVOID!</strong></span>
    {% endif %}
    {% if recommendation == "normal" %}
    <span><strong>About what you'd expect, go ahead</strong></span>
    {% endif %}
    {% if recommendation == "normalhigh" %}
    <span><strong >A little higher than normal, but not much.</strong></span>
    {% endif %}
    {%if recommendation == "normallow" %}
    <span><strong>A little lower than normal, you should go there</strong></span>
    {%endif%}
    {% if recommendation == "recommended" %}
    <span style = "color:green"><strong>Shorter Than Predicted, GO NOW!</strong></span>
    {%endif %}

  </p>
  {% endif %}
  {% if notifications_list %}
    {% for notification in notifications_list %}
    <p>Notifications Sent To <b>{% fix_phone_number notification.phonenumber%}</b> from <b>{{notification.datestart}}</b> to <b>{{notification.dateend}}</b></p>
    {% endfor %}
  {% endif %}
{% endfor %}
{% else %}
<h3>You are not following any rides</h3>
{% endif %}

{% endblock %}
