{% load bootstrap4 %}
{% load tags %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap4_content %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'css/mediaqueries.css' %}">
<div class = "container" style = "background-color: rgba(148, 148, 148, 1)">
  <nav class = "navbar navbar-default fixed-top navbar-dark bg-primary">
      <a class = "navbar-brand" href = "{% url 'parks_list' %}">Disney Wait Times</a>
      <div class = "topnav-right">
        <ul class = "navbar" style = "list-style:none;margin-bottom: 0px">
        {% if user.is_authenticated %}
          <li><a style = "color:LightGray; padding-left:15px" href = "{% url 'user_home_page' %}">{{user.username}}</a><li>
          <li><a  style = "color:LightGray;padding-left:15px" href ="{% url 'logout' %}">Logout</a><li>
        {% else %}
          <li><a  style = "color:LightGray;padding-left:15px " href = "{% url 'login' %}">Login</a><li>
          <li><a style = "color:LightGray; padding-left: 15px" href = "/accounts/register">Register</a></li>
        {% endif %}
      <div>
  </nav>
  <div class = "card text-white bg-dark mb-3" style ="width:20%; float:left; left:0px; top:50px;height:100%; overflow:hidden; position:fixed">
    {% list_of_parks as parks %}
    <ul style ="list-style:none; padding:10px;margin:10px 0">
      {% for park in parks.parks_list %}
      <li style = "margin:20px 0"><h5><a style = "color:LightGray;" href = "{% url 'park_detail' park.id %}">{{park.displayname}}</a></h5></li>

      {% endfor %}
  </div>
  <div class = "content" style = "width:80%; float:right; margin: 0px 0px 60px 0px">
    <h1>{% block title %}(No Title){% endblock %}</h1>
    {% bootstrap_messages %}

    {% block content %}(no content){% endblock %}
  </div>

</div>
<div id = "bottom_tag" style = "float:right; width:80%;background: #42A5F5;color: white; line-height: 30px; bottom:0; align:center">
  <p style = "text-align: right;color:white; margin-right:3%">
      All Names, Images, and Information of Attractions and Locations are property of Disney Parks and the Walt Disney Company<br/>
      Data gathered and displayed in accordance with <a style = "color:LightGray;" href = "https://disneytermsofuse.com/english/#section1">Disney Content and Software license</a> terms of use.
  </p>
</div>

{% endblock %}
